# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Ruby

### Some of the commonly used libraries used by Data Scientists include:

1. matplotlib
2. pandas
3. scikitlearn

|Data Science Tools|
|------------------|
|1. Jupyter Notebook|
|2. RStudio|
|1. Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

**Objectives**
- List popular languages for Data Science
- List popular tools for Data Science
- Arithmetic expressions

## Author 
Mei